.attention{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	color:#797775;
	font:1.4em/1.6 '幼圆', '微软雅黑', arial, sans-serif;
	background-color:#F3EFE8; 
	text-align: center;
}

li{
	float: left;
	width: 140px;
	height: 50px;
	background-color: #7AC5CB;
	line-height: 50px;
	text-align: center;
	margin: 20px 10px;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

h1{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-weight: normal;
	clear: both;
	text-align: center;
	background-color: #E33258;
	font-size: 20px;
}

.attention p.sry{
	height:122px;
	margin-top: 10px;
	text-indent: -999em;
	border:4px solid #66C0B8;
	border-left:none;
	border-right:none;
	background: url(../image/sorry.png) transparent center center no-repeat;
}

.explain{
	margin-top: 5px;
}

.explain span{
	color:#E33258;
}

.rec{
	width:200px;
	margin:20px auto 30px;
	overflow: hidden;
}

.rec h4{
	font-size: 0.7em;
	font-weight:normal;
}

.brss{
	display: inline;
	width:50px;
	float:left;
	margin:20px auto auto 0;
}

.brss a{
	width:50px;
	height:66px;
	display: block;
	text-indent: -999em;
	background-repeat: no-repeat;
	background-image: url(../image/brss.png);
}

.brss.fir{
	margin-left: 100px;
}

.brss.chr a{
	background-position:0 0;
}

.brss.fir a{
	background-position:-51px 0;
}

p.no-upgrd{
	font-size:0.9em;
}

p.no-upgrd a:link{
	color:#797775;
	text-decoration: underline;
}

p.no-upgrd a:hover{
	color:#66C0B8;
}